@using Microsoft.AspNetCore.Identity
@using MVC.DemoProject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (User.Identity.IsAuthenticated)
    {



        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Demo App</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">     

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="ChatRoom">
                    <i class="fas fa-fw fa-comment-alt"></i>
                    <span>Chat Room</span>
                </a>
            </li>
            <!-- Nav Item - Student management -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user-graduate"></i>
                    <span>Student Management</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Student" asp-action="StudentsList" >View Students</a>
                        <a class="collapse-item" asp-controller="Student" asp-action="AddStudent">Add New Student</a>
                    </div>
                </div>
            </li>


       <!-- Nav Item - Images -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user-graduate"></i>
                    <span>Crud with Images</span>
                </a>
                <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Image" asp-action="Index">View Images</a>
                        <a class="collapse-item" asp-controller="Image" asp-action="">Add New Image</a>
                    </div>
                </div>
            </li>
           

            <!-- Divider -->
            <hr class="sidebar-divider mt-auto">
            <!-- Nav Item - Contact us -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span>Contact Us</span>
                </a>
            </li>
        </ul>



    }
}


@await Html.PartialAsync("_ContactUsModal")


