<div class="text-center">
    <h4>Live Chat Room</h4>

    <div class="pt-md-2" style="height:400px">


        <div class="col-sm-10 rounded m-2 p-2" style="background-color:#ccd5ae">
            <div id="MessagContainer">

                @* //rendering from message *@

            </div>


            <form class="row g-3  mt-lg-4 ms-lg-2">
                <div class="col-8">
                    <input type="text" class="form-control" id="messageInput" placeholder="Write message Here...">
                </div>
                <div class="col-auto ">
                    <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
                </div>
            </form>
        </div>

    </div>


</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>